<div id="header">
    <h1>Nicolas NAUDIN</h1>
    <h2>Concépteur développeur d'applications</h2>
    <div class="bubble">
        <h3>FULLSTACK</h3>
    </div>
</div>

<div id="main-content">
    <article id="competences">
        <div class="content-title" >
            <h3>COMPETENCES</h3>
        </div>
        <div class="competences-content-main">
            <div class="competences-content mb">
                <div class="bubble">
                    <div class="bubble-title">UML</div>
                    <div class="skills">
                        <div class="skill" style="width:90%"></div>
                    </div>
                </div>
                <div class="bubble">
                    <div class="bubble-title">PHP/SYMFONY</div>
                    <div class="skills">
                        <div class="skill" style="width:80%"></div>
                    </div>
                </div>
                <div class="bubble">
                    <div class="bubble-title">ANGULAR</div>
                    <div class="skills">
                        <div class="skill" style="width:60%"></div>
                    </div>
                </div>

            </div>
            <div class="competences-content mb">
                <div class="bubble">
                    <div class="bubble-title">HTML</div>
                    <div class="skills">
                        <div class="skill" style="width:90%"></div>
                    </div>
                </div>
                <div class="bubble">
                    <div class="bubble-title">SASS</div>
                    <div class="skills">
                        <div class="skill" style="width:75%"></div>
                    </div>
                </div>
                <div class="bubble">
                    <div class="bubble-title">JAVASCRIPT</div>
                    <div class="skills">
                        <div class="skill" style="width:75%"></div>
                    </div>
                </div>
            </div>
            <div class="competences-content">
                <div class="bubble">
                    <div class="bubble-title">Mysql</div>
                    <div class="skills">
                        <div class="skill" style="width:80%"></div>
                    </div>
                </div>
                <div class="bubble">
                    <div class="bubble-title">MongoDB</div>
                    <div class="skills">
                        <div class="skill" style="width:33%"></div>
                    </div>
                </div>
                <div class="bubble">
                    <div class="bubble-title">JAVA / JEE</div>
                    <div class="skills">
                        <div class="skill" style="width:60%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="competences-content-footer" >
            <div>
                Etudié :
                <img src="{{ asset('images/logos/Bootstrap_logo.svg.png') }}" height="23" alt="bootstrap icon">
                <img src="{{ asset('images/logos/logoMaterial.png') }}" height="23" alt="Material icon">
                <img src="{{ asset('images/logos/Python-logo-notext.svg.png') }}" height="23" alt="Python icon">
                <img src="{{ asset('images/logos/logoReact.png') }}" height="23" alt="React icon">
                <img src="{{ asset('images/logos/Android_robot.svg.png') }}" height="23" alt="Android icon">
                <img src="{{ asset('images/logos/logoSpringboot.png') }}" height="23" alt="Springboot icon">
                <img src="{{ asset('images/logos/Rust_programming_language_black_logo.svg.png') }}" height="23" alt="Rust icon">
                <img src="{{ asset('images/logos/logoGit.png') }}" height="23" alt="Git icon">
                <img src="{{ asset('images/logos/logoLinux.png') }}" height="23" alt="Linux icon">
                <img src="{{ asset('images/logos/Octicons-terminal.svg') }}" height="23" alt="Terminal icon">
                <img src="{{ asset('images/logos/logoGimp.png') }}" height="23" alt="Gimp icon">
            </div>
        </div>


    </article>

    <article id="formations">
        <div class="content-title" >
            <h3>FORMATIONS</h3>
        </div>
        <ul>
            <li>
                <div class="degree">Concepteur développeur d'applications</div>
                <div class="institution">GRETA-GMTE - Bac +4</div>
                <div class="date">Certifié en août 2022</div>
            </li>
            <li>
                <div class="degree">Développeur d'applications</div>
                <div class="institution">Cogéfi - niveau BTS</div>
                <div class="date">En alternance</div>
            </li>
            <li>
                <div class="degree">Bachelier scientifique</div>
                <div class="institution">Lycée Charles-le-Chauves</div>
                <div class="date">Certifié en juin 2007</div>
            </li>
        </ul>
    </article>

    <article id="experiences">
        <div class="content-title" >
            <h3>EXPERIENCE</h3>
        </div>
        <div class="section-content">
            <ul>
                <li>
                    <div class="experience-description">
                        <h4>Concepteur développeur Fullstack</h4>
                        <div class="company accent">
                            <p><strong>EPAF</strong> <span>de 2022 à aujourd'hui</span></p>
                            <i>&nbsp;|&nbsp;</i>
                            <p><strong>Capi</strong> <span>de 2007 à 2010</span></p>
                        </div>
                        <div class="description">
                            <p>
                                Analyse, conception et développement d'une solution e-commerce
                                et de son moteur de recherche. Evolution de l'ancien modèle de données
                                vers un modèle orienté object et mise en place de designs patterns.
                                Développement en methode agile de façon SOLID en TDD. Etude du choix
                                des technologies à utiliser pour la version 2. Extraction du nouveau design de
                                l'application établi par la COM. Mise en place de l'API REST.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="experience-description">
                        <h4>RESPONSABLE DE TRAVAUX DU BATIMENT</h4>
                        <div class="company" >
                            <p><strong>NMJ Bâtiment</strong> <span>de 2017 à 2021</span></p>
                            <p><strong>Air N Ventilation</strong> <span>de 2011 à 2016</span></p>
                        </div>
                        <div class="description">
                            <p>
                                Gestion d'équipe, suivi et réalisation des chantiers.
                                Création de devis, suivi de commandes, gestion des stocks.
                                Gestion des litiges, suivi des réclamations.
                                Environnement de travail très dynamique, à très forte concurrence.
                                J'ai appris de mes mains. Je suis devenu gérant de SAS.
                              </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="experience-description bottom">
                        <h4>CONSEILLER DE CLIENTÈLE</h4>
                        <div class="company" >
                            <p><strong>CIC EST</strong> <span>2010</span></p>
                        </div>
                        <div class="description">
                            <p>
                                Accueil et conseil. Gestion des comptes et des opérations courantes.
                                Vente de produits financiers, d'assurances et de services.
                                Vente de téléphonie mobile.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</div>
